/* We want to have a little less contrast than the browser defaults
@mixin light
  --hc-color: #35353F
  --color: #454545
  --background-color: #EEEEEE

  --button-hover-color: #C0C0C0

  // Links don't need to be that egregious blue and visited should be consistent with that
  --hyperlink-color: #0077AA
  --hyperlink-visited-color: #941352

  --accent-color: #e82c8e
